<% content_for :title, "New skill" %>

<div class="w-full max-w-xl mx-auto">
  <%= render "admin/shared/nav" %>
  <h1 class="text-3xl font-semibold text-gray-900">New skill</h1>
  <%= render "form", resource: @resource, url: admin_skills_path %>
</div>
