<% content_for :title, "New job function" %>

<div class="w-full max-w-xl mx-auto">
  <%= render "admin/shared/nav" %>
  <h1 class="text-3xl font-semibold text-gray-900">New job function</h1>
  <%= render "form", resource: @resource, url: admin_job_functions_path %>
</div>
