<% content_for :title, "Processing your CV" %>

<div class="w-full max-w-xl mx-auto text-center">
  <%= turbo_stream_from @candidate_profile %>
  <%= render "status", candidate_profile: @candidate_profile, candidate_document: @candidate_document %>
</div>
